[submodule "arduino-cmake"]
	path = arduino-cmake
	url = http://github.com/queezythegreat/arduino-cmake.git
[submodule "libraries/i2cdevlib"]
	path = libraries/i2cdevlib
	url = https://github.com/jrowberg/i2cdevlib
